# fly.toml app configuration file generated for xiaozhi-hub on 2026-01-19T10:52:57+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'xiaozhi-hub'
primary_region = 'sin'

[mounts]
  source = "xiaozhi_data"
  destination = "/pb_data"

[build]

[env]
  TZ = 'Asia/Ho_Chi_Minh'

[http_service]
  internal_port = 8090
  force_https = true
  # value `stop|off`
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
